@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rock+Salt&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    height: 60px;
    padding: 2%;
    box-shadow: 0px 0.5px 30px rgb(192, 192, 192);
}

.div-Bodyhead {

    padding: 8%;
}

.div-Bodyhead img {
    height: 100%;
    width: 100%;
}

.div-Bodyhead h1{
    font-size: 70px;
}

.div-Bodyhead p {
    margin: 0;
    font-size: 30px;
    text-align: left;
    width: 800px;
}

.div-Bodybuttom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    padding: 3%;
    padding-bottom: 1%;
}

.div-Bodybuttom img {
    position: relative;
    width: 400px;
    height: 495px;
}

.div-Bodybuttom-principal {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
    margin-bottom: 20%;
}

.images-card {
    margin: auto;
    grid-row: 1;
    width: 350px;
    height: 500px;
}

.div-Bodybuttom-inside{
    grid-row: 2;
}

.div-Bodybuttom-inside strong {
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
}

.div-Bodybuttom-inside .p-div-Bodybuttom{
    color: rgb(124, 124, 124);
    display: inline-block;
    margin: 0;
    width: 100px;
    font-size: 20px;
    margin-left: 5px;
}

.div-Bodybuttom-inside .p-div-Bodybuttom2 {
    font-size: 24px;
}

.div-Bodybuttom-inside .p-price {
    font-size: 24px;
    margin: 0;
}

.div-Bodybuttom-inside .p-person {
    margin: 0;
    width: 100px;
    display: inline;
    margin-left: 10px;
    font-size: 24px;
}

.span-image {
    position: absolute;
    display: grid;
    text-transform: uppercase;
    background-color: white;
    top: 206%;
    grid-template-columns: auto;
    margin-left: 1%;
    padding: 0.5%;
    border-radius: 5px;
    width: 100px;
    place-content: center;
    font-size: 20px;

}




